<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shahi.kamonstore">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kk"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kk"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash_screen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity android:name=".Totals" />
        <activity android:name=".adminLogin.loginPage" />
        <activity android:name=".serialNo.serialPage" />
       <!-- <activity android:name=".barCode" />-->
        <activity android:name=".serialNo.receiptDet"></activity>
    </application>

</manifest>